@require 'vars.styl'
@require 'mixins.styl'

.finding-resume
    margin 5em 2em

    table
        border-collapse collapse

    for $r in $risks
        $color = colorFromRisk($r)
        tr.open .field-{$r}, tr.open .field-{$r} .label, th.field-{$r}
            border-color $color
            border-style none none solid none
            border-width $border-thicker
            padding 1em 0
            color $color
   

    .label
        color $light-gray-color
        font-size 0.8em
        text-transform capitalize

    .value
        font-size 1.25em

    tr.open
        .value
            font-size 1.5em
            font-weight bold

    tr.open, tr.reported
        border $table-border

    tr.open
        border-style solid none none none

    tr.reported
        border-style solid none solid none