@require 'vars.styl'
@require 'mixins.styl'

 div[class^='finding-resume']
    margin $margin-larger $margin-large

    table
        border-collapse collapse
        table-layout fixed

    .label
        color $light-gray-color
        font-size 0.8em
        text-transform capitalize
        .label
            display block

    .value
        font-size 1.25em

    tr:nth-of-type(2) td 
        padding-top $margin  

    tr.open
        .value
            font-size 1.5em
            font-weight bold

    tr.open, tr.reported, tr.total
        border $table-border

    tr.open
        border-style solid none none none

    tr.reported, tr.total
        border-style solid none solid none

    .status-icon
        svg
            max-width 2em
            height 2em
    .total .value
        font-weight bold
        font-size 2em


findingResumeTHStyle($color)
    //tr.open .field-{$r}, tr.open .field-{$r} .label, th.field-{$r}
    border-color $color
    border-style none none solid none
    border-width $border-thicker
    padding 1em 0
    color $color

// risk table
.finding-resume
    for $r in $risks
        $color = colorFromRisk($r)
        th.field-{$r}
            findingResumeTHStyle($color)

// status table
.finding-resume-status
    for $s in $status
        $color = colorFromStatus($s)
        th.field-{$s}
            findingResumeTHStyle($color)
            svg *
                fill $color
        tr.total
            td.field-{$s}
                color $color