@require 'vars.styl'
@require 'mixins.styl'


findingStatusChartStatus($status,$color)
        svg 
            text
                fill $gray-color
            *[id^='icon-'] *
                stroke $light-gray-color
                stroke-width  2px
                visibility visible
                fill none
           * [id=\"icon-status-{$status}\"] *
                fill $color !important
            *[id=\"icon-{$status}\"] *
                fill $color
                


findingStatusChartRisk($risk,$color)
        svg
            *[id^='mark-'] *
                visibility hidden
            *[id=\"mark-{$risk}\"] *
                visibility visible !important
            findingsRiskChart($risk)
                  

findingsRiskChart($risk)
    $index = getIndex($risks,$risk)
    $selected = selectFromIndex($risks,$index)
    // warn('selected:' + $selected)
    for $r in $selected
       *[id=\"icon-{$r}\"] *
            stroke none
            visibility visible
            fill colorFromRisk($r)
            

            