@require 'vars.styl'

findingStatusChartStatus($status,$color)
        svg 
            text
                fill $gray-color
            *[id^='risk-'] *
                fill $ligther-gray-color
           * [id=\"icon-status-{$status}\"] *
                fill $color !important
            *[id=\"icon-{$status}\"] *
                fill $color
                


findingStatusChartRisk($risk,$color)
        svg
            *[id=\"icon-{$risk}\"] *
                fill $color !important
                stroke none
            *[id^='mark-'] *
                visibility hidden
            *[id=\"mark-{$risk}\"] *
                visibility visible !important
         
                  