.finding-list, div[class^='finding-table']
    table
        border-collapse collapse
        min-width 100%
        td
            padding $margin-small
        .field-location, .field-likelihood, .field-impact
            display none
        .field-id
            font-weight bold
            width 5em
            overflow visible
        .field-id,.field-risk
            white-space nowrap
        .field-risk[data-value="Risk"]
            background none
    for $r in $risks
        $color = colorFromRisk($r)
        .field-risk[data-value=\"{$r}\"]
            riskBoxStyle($r)
    
for $s in $status
    $color = colorFromStatus($s)
    .finding-table-status-{$s}
        table
            td
                border-bottom $border-thin solid $color
            tr:first-child .field-id
                border none
            
            .field-id
                color $color
                border-bottom $border-thicker solid $color 