
@require 'vars.styl'
@require 'mixins.styl'
@require 'findingStatusChart.styl'

$finding-deco-s = 1.25em
$finding-deco-m = 0.75em


fixed-field(value)
    visibility hidden
    width 0px

    if (value)
        &:before
            content $icon-fixed
            visibility visible
            color $risk-low-color
    else
        &:before
            content $icon-not-fixed
            visibility visible
            color $risk-high-color


.finding-header 
    color gray
    margin-left $finding-deco-m
    margin-top 1em
    svg
      max-width 100%
      height auto

    dt,dd
        display flex
        flex 1 1 100%
        margin 0
        padding 0
        border none
        line-height 1
        overflow: hidden
        justify-content flex-start
        gap 0
    dt
        color $light-gray-color
        font-size .75em
        text-transform capitalize
        margin 0
        text-align left
        font-weight normal

    dd
        break-before avoid
        font-weight bold 
        margin-bottom 0.5em
    
    // show risk fields as columns
    //dd.risk-data dl div 
      //  flex 1 1 auto  


    // hidden fields
    .field-status-icon, .field-risk-chart, .field-risk-data
        >dt
            display none

    // strong fields
    .field-status, .field-risk
        font-size 1.25em
    // header row
    .fh-row
        display grid
        grid-template-columns repeat(auto-fit, minmax(max(240px,40vw), 1fr))
        margin-bottom 1em

    // header column
    .fh-col
        display flex
        width auto
        border-color $ligther-gray-color
        border-width .5em
        border-style solid none
        margin $margin-small $margin-medium
        padding 0 $margin-medium

    
    
    .field-status-icon, .field-risk-chart
        justify-content center
        margin $margin 0

    .status-icon
        max-width 5em
    

    .risk-chart
        justify-content center
        svg
            height 3em
            width 10em
            margin-bottom $margin-small
            text
                font-family $default-font-family

    
    div[class^="field-"] dd, .label
        text-transform capitalize

    .field-location ul
        monospacedText()
        text-transform inherit !important
        overflow-wrap anywhere
        max-width 100%
        list-style none
        li
            margin 0 0 $margin-small 0

    .field-fixed
        dd[data-value=false]
            fixed-field(false)

        dd[data-value=true]
            fixed-field(true)

.finding
    .finding-title // Finding title
        // text-indent -($finding-deco-s + $finding-deco-m)
        // padding 0.5em 0
        margin 0 0 1.5em 0
        // padding-left $finding-deco-s
        font-weight bold
        font-size 1.75em

        span
            display block

        .title-id
            font-size 1.125em
            // border-width 0 0 0 .75em
            padding-left .5em

        .title-separator
            display none
        
        .title-title
            border-width .4em 0 0 0
            border-style solid
            padding .25em 0
        

        &::before
            right 0
            content ''
            display inline-block
            width 1em
            height @width
            border-radius: (@width / 8)
            margin-left @width
            margin-right $finding-deco-m
            position relative
            vertical-align middle

.field-fixed[data-value=false]
    fixed-field(false)

.field-fixed[data-value=true]
    fixed-field(true)

// Status    & color
for $s in $status
    $color = colorFromStatus($s)
    $svg = statusIcon($s)

    .icon[data-status={$s}]

    .finding[data-status={$s}]
        .finding-title *
            border-color $color
        .title-id
            color $color
            // svgIcon($svg,$color)

        .finding-header
            border-color $color
            .risk-chart
                findingStatusChartStatus($s,$color)
         
    
        .status-icon
            svg *
                fill $color !important
    
for $r in $risks
    $color = colorFromRisk($r)
    // warn('risk: '+$r + '  color '+ $color)
    .finding .finding-header .risk-chart svg
        *[id=\"icon-{$r}\"] *
            fill $color
            stroke none
    .finding[data-risk={$r}]
        .finding-header
            .risk-chart
                findingStatusChartRisk($r,$color)
                .icon-none
                    fill black !important

                



.field-resolution, .field-status, .field-risk
    font-size 1.125em

