.finding-list table
    td
        padding 1em
    .field-location, .field-likelihood, .field-impact
        display none
    .field-id
        font-weight bold
    .field-id,.field-totalRisk
        white-space nowrap