
@require 'vars.styl'
@require 'mixins.styl'

.report
  line-height normal

  h1, h2, h3, h4, h5, h6, .title, .subtitle
    color $heading-color
    font-weight bold
    margin 2em 0 1em 0

  .title
    font-size xx-large

  .subtitle
    font-size x-large

  a
    text-decoration none
    links()

  strong
    color gray
    font-weight bold

  dl
    display flex
    flex-flow row wrap

  dl div
    display flex
    flex-flow row wrap
    flex-basis 100%

  dt
    flex-basis 20%
    padding 2px 4px
    text-align right

  dd
    flex-basis 70%
    flex-grow 1
    margin 0
    padding 2px 4px

  table
    margin 2em 0

    th
      color $sub-title-color

    td, th
      text-align center

      &:before
        display block
        text-align center
        vertical-align middle
        margin-top 0.5em

    th
      text-transform capitalize