
body
  font $default-font
  color $default-color

h1,h2,h3,h4,h5,h6
  color $heading-color
  font-weight bold

a
  text-decoration none

strong
  color dark-gray
  font-weight bold

dl
  display flex
  flex-flow row wrap

dl div
  display flex
  flex-flow  row wrap
  flex-basis 100%
dt
  flex-basis 20%
  padding 2px 4px
  text-align right

dd
  flex-basis 70%
  flex-grow 1
  margin 0
  padding 2px 4px