flex-list()
    margin 0
    padding 0
    list-style none
    display flex
    flex-flow row nowrap
    flex 1 1 100%
    justify-content space-between
    li
        display flex


links()
    color $link-color
    &:hover
        color $hover-color


monospacedText()
    font $monospace-font
    font-size 0.8em

svgIcon($svg,$color)
    &::before
        content ''
        mask-image url($svg)
        -webkit-mask-image url($svg)
        mask-size cover
        -webkit-mask-color url($svg)
        mask-color blue
        -webkit-mask-size cover
        display inline-block
        width 1em
        height @width
        position relative
        background-color $color



colorFromStatus($status)
    convert('$' + $status + '-color')

statusIcon($status)
    'svg/' + $status + '.svg'

colorFromRisk($risk)
    convert('$risk-' + $risk + '-color')


getIndex($list, $value)
  for $val, $i in $list
    return $i if $list[$i] == $value

selectFromIndex($list, $index)
  $selected = ()
  for $i in ($index)..0
    push($selected, $list[$i])
  return $selected


textColorFromBg($color)
    return light($color) ? $default-color : $ligther-gray-color

riskBoxStyle($risk)
    $color = colorFromRisk($risk)
    //background  $color
    // color textColorFromBg($color)
    color $color
    // padding .25em .5em !important
    font-weight normal
    width 3em
    overflow visible


decorateLink()
    text-shadow -1px -1px 1px rgba(0,0,0,.2)
    &:hover
        color $hover-color