flex-list()
    margin 0
    padding 0
    list-style none
    display flex
    flex-flow row nowrap
    flex 1 1 100%
    justify-content space-between
    li
        display flex


links()
    color $link-color
    &:hover
        color $hover-color