@require 'vars.styl'
@require 'finding.styl'
@require 'code.styl'
@require 'finding-list.styl'
@require 'finding-resume.styl'
@require 'report-header.styl'
@require 'mixins.styl'

.report, .concert-doc
  font $default-font
  background white
  color black
  width 100%
  max-width 100%

  pre, code, p, span, div
    width auto
    max-width 100%
    overflow-wrap break-word

  p
    text-align justify

  table
    width 100%

    tr, th, td
      text-align center
      padding 0 0 1em 0

  pre code
    monospacedText()
    white-space pre-wrap

  .finding, .data-block
    margin 1em 1em 5em 1em

  /* border-color gray
  border-style dashed none
  border-width 1px */
  *[data-value=info], *[data-value=low], *[data-value=medium], *[data-value=high]
    text-transform capitalize

  .field-risk, .finding-list

    *[data-value=info]
      color $info-color

    *[data-value=low]
      color $low-color

    *[data-value=medium]
      color $medium-color

    *[data-value=high]
      color $high-color

  *[data-value=√]
    color $low-color

  *[data-value=⚠]
    color $medium-color

  *[data-value=X]
    color $high-color

  .error
    color error

  .table-of-contents
    ul
      li
        list-style none
        margin 0.5em 0 0 0

        a
          links()
          background none
    page-break-after always

  h2
    page-break-before always

  h2:first-of-type
    page-break-before auto

  .finding
    break-inside avoid
  
   h2+.finding
    break-inside auto !important


  .language-tech-bits
    font $monospace-font
    //text-align justify
    font-size 0.65em !important
    // white-space pre-wrap
    padding 0
    background none