@require 'vars.styl'

tocStyle()
  ul
    font-size $h-sizes[3]
    ul
      font-size 0.9em
    li
      list-style none
      margin 0.5em 0 0 0
      
      &::before 
        color $link-color
      a
        links()
        background none
      
      // hide findings on TOC
    a[href="#detailed-findings"] + ul
        display none