json('./colors.json')
$default-font = normal normal normal 24px / 1.5 'Nunito', sans-serif
$monospace-font = normal normal normal 24px / 1.5 'Roboto Mono', monospace
$heading-font = normal 900 normal 36px / 1.5 'Roboto', sans-serif
// Fonts
$heading-font-family = 'Roboto', sans-serif
$default-color = black
$brand-color = brand
$heading-color = gray
// Colors
$info-color = label
$low-color = info
$medium-color = warn
$high-color = error
$link-color = $brand-color
$hover-color = darken($brand-color,20%)
$sub-title-color = light-gray
$gray-color = gray
$light-gray-color = light-gray

// Icons
$icon-fixed = '✔'
$icon-not-fixed = '✘'

$risks = 'info' 'low' 'medium' 'high'

// Borders
$border-color = gray
$border-thick = 3px
$border-thin = 2px
$border-style = solid