json('./colors.json')

// Fonts
$default-font = normal normal normal 24px/1.5 'Nunito', sans-serif
$monospace-font = normal normal normal 24px/1.5 'Roboto Mono', monospace
// $heading-font font-style font-weight font-variant font-size/line-height font-family


// Colors

$default-color = black
$heading-color = gray
$info-color = label
$low-color = info
$medium-color = warn
$high-color = error
