// Icons
json('./colors.json')
$default-font = normal normal normal 24px / 1.5 'Nunito', sans-serif
$monospace-font = normal normal normal 24px / 1.5 'Roboto Mono', monospace
$heading-font = normal 900 normal 36px / 1.5 'Roboto', sans-serif
$heading-font-family = 'Roboto', sans-serif
// Fonts
$default-color = black
$brand-color = brand
$heading-color = gray
$info-color = label
// Colors
$low-color = info
$medium-color = warn
$high-color = error
$link-color = $brand-color
$hover-color = darken($brand-color, 20%)
$ok-color = info
$problem-color = error
$warning-color = warn
$sub-title-color = lightGray
$gray-color = gray
$light-gray-color = lightGray
$icon-fixed = '✓'
$icon-not-fixed = '✘'
$risks = 'info' 'low' 'medium' 'high'
$status = 'ok' 'warning' 'problem'
$border-color = gray
// Borders
$border-light-color = $light-gray-color
$border-thick = 3px
$border-thin = 2px

$border-style = solid
$header-border = $border-color $border-style $border-thick
$table-border = $border-light-color $border-style $border-thin